*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    border: solid black 1px;
    height: 100vh;

}

.containerIzq {
    border: solid red 1px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.containerDer {
    border: solid green 1px;
    width: 70%;
}



.boton {
    border: solid green 1px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton button {
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    color: rgb(42, 51, 59);
    font-weight: 700;
    cursor: pointer;
}

.boton button:hover {
    background-color: blueviolet;
    color: aliceblue;
}

.contactos {
    border: solid green 1px;
    height: 70vh;
    overflow-y: scroll;
}



.barra_perfil img {
    margin-right: 10px;
}

.barra_perfil_info {
    padding: 0px 10px;
}

.barra {
    border: solid green 1px;
    height: 10vh;
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    padding: 10px;
}

.barra_perfil {
    display: flex;
    border: solid red 1px;
    width: 80%;
}

.barra_icono {
    border: solid red 1px;
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.barra_icono i {
    padding: 2px;
}

.contactoCard {
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    justify-content: flex-start;
    padding: 10px;
}

.contactoCard img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contactoCard_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}